{% extends "layout.html" %}

{% block main_container %}
	<h1>Odoo Server Page with Flakoo and ERPpeek</h1>
	<p>Para conectar con la API de Odoo requiere la dirección del servidor en donde tiene instalada su instancia.</p>
	<p>Si usa un puerto diferente al predeterminado agreguelo junto a su dirección, <br />ejemplo: <br />
	http://midominio.com:8070 o http://192.168.1.24:8070</p> 
	<p>Puerto predeterminado <strong>8069</strong></p>
	<form action="{{ url_for('server') }}" method="POST">
		<label for="server">Servidor Odoo</label>
		<input type="text" name="server" id="server">
		<button type="submit" name="button">Entrar</button>
	</form>
{% endblock %}